


<section id="todoapp">

  <header id="header">
    <h1>todos</h1>
    <%= form_for(Todo.new, remote: true) do |f| %>
      <%= f.text_field :title, placeholder: "What needs to be done?", id: "new-todo", autofocus: true, "data-behavior" => "submit_on_enter" %>
    <% end %>
  </header>


	<section id="main">
	    <%= form_tag(toggle_all_todos_path, method: :post, remote: true) do %>
	      <input name="completed" id="toggle-all" type="checkbox" value="true" data-behavior="submit_on_check" <%= "checked" if @todos.active.count == 0 %>>
	    <% end %>

	    <label for="toggle-all">Mark all as complete</label>
	    	<ul id="todo-list">
	      <%= render @todos.all %>
	    </ul>
	 </section>



	<footer id="footer">
  	<span id="todo-count"><strong><%= Todo.active.count %></strong> <%= "item".pluralize(Todo.active.count) %> left</span>

  		<ul id="filters">
    	<li>
      	<%= link_to "All", todos_path, class: "all" %>
    	</li>
    	<li>
      	<%= link_to "Active", active_todos_path, class: "active" %>
	    </li>
	    <li>
      	<%= link_to "Completed", completed_todos_path, class: "completed" %>
	    </li>
	  </ul>

		 <% if Todo.completed.count > 0 %>
		  <%= form_tag(destroy_completed_todos_path, method: :delete, remote: true) do %>
		    <button id="clear-completed" type="submit">Clear completed (<%= Todo.completed.count %>)</button>
	  <% end %>
	  <% end %>

	  </footer>
	<footer id="info">
		<p>Double-click to edit a todo</p>
	
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">Ivan Sherman</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC Project for RoR Class</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="js/app.js"></script>
